@model decimal?

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(x => x)
    </div>
    <div class="col-md-5">
        @(Html.Kendo().CurrencyTextBoxFor(m => m)
            .Min(0)
            .Placeholder("Enter price...")
        )
    </div>
</div>


