@model string
<div class="row">
    <div class="col-md-5">
        @Html.TextBoxFor(m => m, new { @class = "form-control", id= "AdSubstring" })
        @Html.ValidationMessageFor(m => m)
        <input type="submit" class="btn btn-default" value="Search" />
    </div>
</div>
<br />
