@model AdViewModel
<div class="panel panel-warning ad-container">
    <div class="panel-heading">
        <h2 class="panel-title">
            @Model.Title
            <span class="badge pull-right">$ @Model.Price</span>
        </h2>
    </div>
    <div class="panel-body">
        @if (Model.Pictures.Any())
        {
            if (Model.Pictures.First().Url == null)
            {
                var url = Convert.ToBase64String(Model.Pictures.First().Content);
                <img src="data:image/png;base64,@url" alt="image" class="img-thumbnail ad-image"/>
            }
            else
            {
                <img src="@Model.Pictures.First().Url" alt="image" class="img-thumbnail ad-image" />
            }
        }
        else
        {
            <img src="~/Content/Images/default.png" alt="no-image" class="img-thumbnail ad-image" />
        }
    </div>
</div>
