@model IEnumerable<OMX.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="tesest/1">@category.Title</a>
                </div>
            </div>
        </div>
    }
</div>