@model IEnumerable<OMX.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Ajax.ActionLink(@category.Title.ToString(), "CategorySubCategories", "Categories",
                        new { id = @category.Id },
                        new AjaxOptions()
                        {
                            UpdateTargetId = "subCategoriesContainer",
                            LoadingElementId = "loadingGif",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            AllowCache = false
                        })
                </div>
            </div>
        </div>
    }
</div>