<footer class="text-center">
    <small>
        <strong>Author:</strong>
        <a href="https://github.com/Domin1k" target="_blank" class="ng-binding">Domin1k</a>
        <br>
        <small>
            <strong><a href="https://github.com/ASP-MVC/OMX-System" target="_blank">Open Source Project</a> powered by:</strong> <a href="http://www.asp.net/" target="_blank">ASP .NET</a>
        </small>
    </small>
</footer>
