@model IEnumerable<PictureViewModel>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model != null)
            {
                @Html.DisplayFor(x => x, "MiniPictureViewModel")
            }
        </div>
    </div>
</div>