@using PagedList.Mvc
@model PagedList.IPagedList<OMX.Web.Models.ViewModels.AdViewModel>
@{
    ViewBag.Title = "Ads";
}

<div class="jumbotron">
    <h1>Ads</h1>
    <div class="row">
        @foreach (var ad in Model)
        {
            <div class="col-md-6">
                <a href="/Ads/PreviewAdById/@ad.Id">@Html.Partial("_AdPartial", ad)</a>
            </div>
        }
    </div>
</div>
<br/>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Ads",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))