@model PagedList.IPagedList<AdViewModel>
@{
    ViewBag.Title = "Ads";
    ViewBag.ActionName = "Ads";
    ViewBag.ControllerName = "Ads";
}

<div class="jumbotron">
    <h1>Ads</h1>
    <div class="row">
        @Html.DisplayFor(x=>x, "AdsViewModel",new { ViewBag })
    </div>
</div>