@model PagedList.IPagedList<AdViewModel>
@{
    ViewBag.Title = "MyAds";
}

@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>@TempData["message"]</strong>
    </div>
}
@if (TempData.ContainsKey("message-err"))
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>@TempData["message-err"]</strong>
    </div>
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        @Html.DisplayFor(x => x, "AdsViewModel")
    </div>
</div>