@model IEnumerable<CommentViewModel>
@{
    ViewBag.Title = "MyNotifications";
}

<div class="well">
    <h2 class="text-center">My Notifications</h2>
</div>
<div class="row">
    <div class="col-sm-10 col-md-offset-1">
        @Html.DisplayFor(x => x, "MiniNotificationViewModel")
    </div>
</div>