@model OMX.Web.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "UserProfile";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.PictureUrl" alt="picture" class="img-thumbnail" />
        </div>
        <div class="col-md-8">
            <p>Ads published: <span class="badge">@Model.PublishedAdsCount</span></p>
            <div class="row">
                <div class="col-md-12">
                    <span class="label label-primary">Username:</span><strong>@Model.UserName</strong>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <span class="label label-primary">Email:</span><strong>@Model.Email</strong>
                </div>
            </div>
        </div>
    </div>
</div>

