@using OMX.Common

@{
    ViewBag.Title = "Manage Ads";
    const string ControllerName = "KendoAds";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid<AdminAdViewModel>()
    .Name("AdsGrid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id);
        columns.Bound(x => x.Title);
        columns.Bound(x => x.Content);
        columns.Bound(x => x.Price);
        columns.Bound(x => x.IsDeleted);
        columns.Bound(x => x.OwnerUserName);
        columns.Bound(x => x.SubCategoryName);
        
        columns.Command(command => command.Edit().Text("Edit").UpdateText("Save").CancelText("Cancel"));
        columns.Command(command => command.Destroy().Text("Delete"));
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create().Text("Create");
    })
    .Editable(editable =>
    {
        editable.Mode(GridEditMode.PopUp);
        editable.Window(w => w.Title(ViewBag.Title));
        editable.DisplayDeleteConfirmation("Are you sure you want to delete the ad?");
    })
    .Pageable(x => x.Refresh(true))
    .Sortable()
    .Filterable()
    .Reorderable(x => x.Columns(true))
    .Resizable(x => x.Columns(true))
    .DataSource(x => x.Ajax()
        .ServerOperation(true)
        .Model(model => model.Id(m => m.Id))
        .Create(create => create.Action("Create", ControllerName, new { area = GlobalConstants.AdministrationArea }))
        .Read(read => read.Action("Read", ControllerName, new { area = GlobalConstants.AdministrationArea }))
        .Update(update => update.Action("Edit", ControllerName, new { area = GlobalConstants.AdministrationArea }))
        .Destroy(destroy => destroy.Action("Destroy", ControllerName, new { area = GlobalConstants.AdministrationArea }))
        )
)