@model IEnumerable<CategoriesWithSubCategoriesModel>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a data-ajax="true"
                       data-ajax-loading="#loading"
                       data-ajax-mode="replace"
                       data-ajax-update="#subCategoriesContainer"
                       href='@Url.Action("CategorySubCategories", "Categories", new { id = @category.Id })'
                       class="TopIcons">
                        @Html.Encode(@category.Title.ToString()),
                    </a>
                </div>
            </div>
        </div>
    }
</div>