
<footer class="text-center">
    <p class="text-left">
        OMX is website for free ads. Here you can find interesting ads and easily contact the seller.
        If you want to sell something instead you can @Html.ActionLink("create ad", "Create", "Ads", new { Area = string.Empty }, null) easy, fast and free
        for everything you can think of. Buy and sell in OMX!
    </p>
    <small>
        <strong>Author:</strong>
        <a href="https://github.com/Domin1k" target="_blank" class="ng-binding">Domin1k</a>
        <br>
        <small>
            <strong>
                <a href="https://github.com/ASP-MVC/OMX-System" target="_blank">
                    Open Source Project
                </a> powered by:
            </strong>
            <a href="http://www.asp.net/" target="_blank">ASP .NET</a>
        </small>
    </small>
</footer>
